.box{
    width: 50px;
    height: 50px;
    border-width: 2px;
    border-color: black;
    border-style: solid;
    z-index:0;
}

img {
    width: 49px;
    z-index: 1;
    align: center;
}

.black{
    background-color: black;
}

.white{
    background-color: white;
}


.row {
    display:flex;
}

.piece {
    position:absolute;
    width:49px;
    z-index:1;
}

#c11 {
    position:absolute;
    top:10px;
    left: 10px;
    width:49px;
    z-index:1;
}

#c12 {
    position:absolute;
    top:10px;
    left: 64px;
    width:49px;
    z-index:1;
}

#c13 {
    position:absolute;
    top:10px;
    left: 118px;
    width:49px;
    z-index:1;
}

#c14 {
    position:absolute;
    top:10px;
    left: 172px;
    width:49px;
    z-index:1;
}

#c15 {
    position:absolute;
    top:10px;
    left: 226px;
    width:49px;
    z-index:1;
}

#c16 {
    position:absolute;
    top:10px;
    left: 280px;
    width:49px;
    z-index:1;
}

#c17 {
    position:absolute;
    top:10px;
    left: 334px;
    width:49px;
    z-index:1;
}

#c18 {
    position:absolute;
    top:10px;
    left: 388px;
    width:49px;
    z-index:1;
}


#c21 {
    position:absolute;
    top:64px;
    left: 10px;
    width:49px;
    z-index:1;
}

#c22 {
    position:absolute;
    top:64px;
    left: 64px;
    width:49px;
    z-index:1;
}

#c23 {
    position:absolute;
    top:64px;
    left: 118px;
    width:49px;
    z-index:1;
}

#c24 {
    position:absolute;
    top:64px;
    left: 172px;
    width:49px;
    z-index:1;
}

#c25 {
    position:absolute;
    top:64px;
    left: 226px;
    width:49px;
    z-index:1;
}

#c26 {
    position:absolute;
    top:64px;
    left: 280px;
    width:49px;
    z-index:1;
}

#c27 {
    position:absolute;
    top:64px;
    left: 334px;
    width:49px;
    z-index:1;
}

#c28 {
    position:absolute;
    top:64px;
    left: 388px;
    width:49px;
    z-index:1;
}


#c31 {
    position:absolute;
    top:118px;
    left: 10px;
    width:49px;
    z-index:1;
}

#c32 {
    position:absolute;
    top:118px;
    left: 64px;
    width:49px;
    z-index:1;
}

#c33 {
    position:absolute;
    top:118px;
    left: 118px;
    width:49px;
    z-index:1;
}

#c34 {
    position:absolute;
    top:118px;
    left: 172px;
    width:49px;
    z-index:1;
}

#c35 {
    position:absolute;
    top:118px;
    left: 226px;
    width:49px;
    z-index:1;
}

#c36 {
    position:absolute;
    top:118px;
    left: 280px;
    width:49px;
    z-index:1;
}

#c37 {
    position:absolute;
    top:118px;
    left: 334px;
    width:49px;
    z-index:1;
}

#c38 {
    position:absolute;
    top:118px;
    left: 388px;
    width:49px;
    z-index:1;
}


#c41 {
    position:absolute;
    top:172px;
    left: 10px;
    width:49px;
    z-index:1;
}

#c42 {
    position:absolute;
    top:172px;
    left: 64px;
    width:49px;
    z-index:1;
}

#c43 {
    position:absolute;
    top:172px;
    left: 118px;
    width:49px;
    z-index:1;
}

#c44 {
    position:absolute;
    top:172px;
    left: 172px;
    width:49px;
    z-index:1;
}

#c45 {
    position:absolute;
    top:172px;
    left: 226px;
    width:49px;
    z-index:1;
}

#c46 {
    position:absolute;
    top:172px;
    left: 280px;
    width:49px;
    z-index:1;
}

#c47 {
    position:absolute;
    top:172px;
    left: 334px;
    width:49px;
    z-index:1;
}

#c48 {
    position:absolute;
    top:172px;
    left: 388px;
    width:49px;
    z-index:1;
}


#c51 {
    position:absolute;
    top:226px;
    left: 10px;
    width:49px;
    z-index:1;
}

#c52 {
    position:absolute;
    top:226px;
    left: 64px;
    width:49px;
    z-index:1;
}

#c53 {
    position:absolute;
    top:226px;
    left: 118px;
    width:49px;
    z-index:1;
}

#c54 {
    position:absolute;
    top:226px;
    left: 172px;
    width:49px;
    z-index:1;
}

#c55 {
    position:absolute;
    top:226px;
    left: 226px;
    width:49px;
    z-index:1;
}

#c56 {
    position:absolute;
    top:226px;
    left: 280px;
    width:49px;
    z-index:1;
}

#c57 {
    position:absolute;
    top:226px;
    left: 334px;
    width:49px;
    z-index:1;
}

#c58 {
    position:absolute;
    top:226px;
    left: 388px;
    width:49px;
    z-index:1;
}


#c61 {
    position:absolute;
    top:280px;
    left: 10px;
    width:49px;
    z-index:1;
}

#c62 {
    position:absolute;
    top:280px;
    left: 64px;
    width:49px;
    z-index:1;
}

#c63 {
    position:absolute;
    top:280px;
    left: 118px;
    width:49px;
    z-index:1;
}

#c64 {
    position:absolute;
    top:280px;
    left: 172px;
    width:49px;
    z-index:1;
}

#c65 {
    position:absolute;
    top:280px;
    left: 226px;
    width:49px;
    z-index:1;
}

#c66 {
    position:absolute;
    top:280px;
    left: 280px;
    width:49px;
    z-index:1;
}

#c67 {
    position:absolute;
    top:280px;
    left: 334px;
    width:49px;
    z-index:1;
}

#c68 {
    position:absolute;
    top:280px;
    left: 388px;
    width:49px;
    z-index:1;
}


#c71 {
    position:absolute;
    top:334px;
    left: 10px;
    width:49px;
    z-index:1;
}

#c72 {
    position:absolute;
    top:334px;
    left: 64px;
    width:49px;
    z-index:1;
}

#c73 {
    position:absolute;
    top:334px;
    left: 118px;
    width:49px;
    z-index:1;
}

#c74 {
    position:absolute;
    top:334px;
    left: 172px;
    width:49px;
    z-index:1;
}

#c75 {
    position:absolute;
    top:334px;
    left: 226px;
    width:49px;
    z-index:1;
}

#c76 {
    position:absolute;
    top:334px;
    left: 280px;
    width:49px;
    z-index:1;
}

#c77 {
    position:absolute;
    top:334px;
    left: 334px;
    width:49px;
    z-index:1;
}

#c78 {
    position:absolute;
    top:334px;
    left: 388px;
    width:49px;
    z-index:1;
}


#c81 {
    position:absolute;
    top:388px;
    left: 10px;
    width:49px;
    z-index:1;
}

#c82 {
    position:absolute;
    top:388px;
    left: 64px;
    width:49px;
    z-index:1;
}

#c83 {
    position:absolute;
    top:388px;
    left: 118px;
    width:49px;
    z-index:1;
}

#c84 {
    position:absolute;
    top:388px;
    left: 172px;
    width:49px;
    z-index:1;
}

#c85 {
    position:absolute;
    top:388px;
    left: 226px;
    width:49px;
    z-index:1;
}

#c86 {
    position:absolute;
    top:388px;
    left: 280px;
    width:49px;
    z-index:1;
}

#c87 {
    position:absolute;
    top:388px;
    left: 334px;
    width:49px;
    z-index:1;
}

#c88 {
    position:absolute;
    top:388px;
    left: 388px;
    width:49px;
    z-index:1;
}